<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <title>Thomas business page</title>
</head>
<body>
  <header>Cretin
    <nav>
      <h3 id="logo">logo</h3>
      <img class="hamburger" src="./images/furniture.svg" alt="pic">
    </nav>
  </header>

  <div class="carousel" id="homecarousel" data-ride="carousel">
    <div class="inner-carousel">
      <div class="hero">
        <img src="./images/image-22.png" alt="">
      </div>
      <div class="hero">
        <img src="./images/image-1.png" alt="">
      </div>
      <div class="hero">
        <img src="./images/image-14.png" alt="">
      </div>
    </div>
  </div>

  <div class="slider"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>

<!-- <div id="homecarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500">
  <div class="carousel-inner">
    <div class="active item">
      <div class="carousel-gradient"></div>
      <%= image_tag "snowboard.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "tenis.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "bike.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "skate.jpg" %>
    </div>
  </div>
</div>
 -->




<!--     <section>
      <div class="hero">
      <img src="./images/image-21.png" alt="">
      <h1 class="headline">Tom's works</h1>
      </div>
    </section> -->
