*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #ED4264, #FFEDBC);

}

.hamburger {
  height: 25px;
  width: 25px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #03001e, #7303c0, #ec38bc);
  z-index: -1;
}

nav{
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
  align-items: center;
}

#logo{
  grid-column: 2/3;
  font-size: 24px;
}
.hamburger {
  justify-self: end;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 60%;
  width: 80%;
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headline {
  position: absolute
  top: 70%;
  left: 10%;
  font-size: 70px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}









